.button-back {
    width: 420px; /* golden ratio square */
    height: 260px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-div {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 2%;
}

.login-button {
    margin: auto;
    border-radius: 0px;
    border: 0;
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: bolder;
}

.login-image {
    padding-top: 10%;
    scale: 1.1;
}

.header-text {
    font-weight: bold;
}

.header-text.top {
    font-size: 18px;
}

.header-text.sub {
    font-size: 12px;
}

.title {
    padding-top: 10%;
    font-weight: bold;
    font-size: 20px;
}
